<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/rules.css" class="css">
    <title>Rules</title>
</head>
<body>
   <div class="r">Rules:-</div>
   <div class="rules">1.Time Limit: Each quiz must be completed within the specified time limit. 
    Ensure you manage your time efficiently to answer all questions.</div>
   <div class="rules">2.No External Help: Do not use external resources or assistance.
    This includes books, notes, online searches, or other people.</div>
   <div class="rules">3.Single Attempt: Each participant is allowed only one attempt per quiz.  
    Make sure your answers are final before submitting.</div>
   <div class="rules">4.Honesty and Integrity: Maintain academic honesty.
    Any form of cheating or dishonesty will result in disqualification and
    potential further consequences.</div>
</body>
</html>