<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank-You</title>
    <link href="/css/thankyou.css" rel="stylesheet">
</head>
<body>
    <div class=content>
        <div class="wrapper-1">
          <div class="wrapper-2">
            <h1>Thank you !</h1>
            <p>Thanks for giving the quiz ! </p>
            
            <a href="../dashboard">
                <button class="go-home" >
            
            go home
            </button>
        </a>
          </div>
          
      </div>
      </div>
    
</body>
</html>
  
  
  
  